# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib



**/*.exe
**/*.exe~

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin
pkg

vendor
Gopkg.lock

grpc/grpc.yml

build/

vcs.xml
.idea/*
*.iml
debug

go.mod
go.sum
